
<% provide(:title, "Log in") %>
<div id="content">
  <div id="input_form">
    <div class="form">
    </br>
    <h2>Login to Your Account</h2>
  </br>
  <div class="input">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email , placeholder:"E-mail"%>
    <%= f.password_field :password , placeholder:"Password"%>
    <%= f.submit "Log in", class: "button button-glow button-rounded button-raised button-primary" %>
    <% end %>
  </br>

  <%= link_to "Forgot your password?", '#' %>
</div>
</div>
</div>

</div>
