<li id="post-<%= post.id %>">
    <table class="postlist">
      <tr>
        <td><span class="Ttitle"><%= link_to post.user.email, post.user %></span></td>
        <td><% if current_user?(post.user) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          |
        <% end %>
        <%= link_to 'Show', post %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">address: </span><%= post.Address %></td>
        <td><%= post.longitude %><%= post.latitude %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">destination: </span><%= post.destination %></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="Ttitle">MonStartTime: </span><%= post.MonStartTime %></td>
        <td><span class="Ttitle">MonEndTime: </span><%= post.MonEndTime %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">TueStartTime: </span><%= post.TueStartTime %></td>
        <td><span class="Ttitle">TueEndTime: </span><%= post.TueEndTime %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">WenStartTime: </span><%= post.WenStartTime %></td>
        <td><span class="Ttitle">WenEndTime: </span><%= post.WenEndTime %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">ThuStartTime: </span><%= post.ThuStartTime %></td>
        <td><span class="Ttitle">ThuEndTime: </span><%= post.ThuEndTime %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">FriStartTime: </span><%= post.FriStartTime %></td>
        <td><span class="Ttitle">FriEndTime: </span><%= post.FriEndTime %></td>
      </tr>
      <tr>
        <td><span class="Ttitle">Content: </span><%= post.Content %></td>
        <td></td>
      </tr>
    </table>

</li>
