<footer class="footer">
  <small>
    <p>All contents copyright &copy; 2015. All Rights Reserved &copy; SFYOURIDE GROUP</p>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "HOME", current_user %></li>
      <% else %>
        <li><%= link_to "HOME", root_path %></li>
      <% end %>
      <li><%= link_to "ABOUT", about_path %></li>
      <% if logged_in? %>
        <li><%= link_to "CREATE POST", createpost_path(current_user) %></li>
        <li><%= link_to "SEARCH POST", viewpost_path(current_user) %></li>
        <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
        <li><%= link_to 'CONVERSATIONS', conversations_path %></li>
      <% else %>
        <li><%= link_to "SIGN UP", signup_path %></li>
        <li><%= link_to "LOG IN", login_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
