
<% provide(:title, "Sign up") %>
<div id="content">
  <div id="input_form">
    <div class="form">
    </br>
    <h2>Sign Up to Find a New Way to School</h2>
    <div class="input">
      <%= render 'shared/error_messages' %>
      <%= form_for(@user) do |f| %>
      <%= f.text_field :firstname ,placeholder: "First Name"%>
      <%= f.text_field :lastname ,placeholder: "Last Name"%>
      <%= f.text_field :email , placeholder: "SFU E-mail Address"%>
      <%= f.password_field :password , placeholder: "Password"%>
      <%= f.password_field :password_confirmation , placeholder:"Confirm Password" %>
      <input class="button button-glow button-rounded button-raised button-primary" name="commit" type="submit" value="Sign up" />
      <% end %>
    </div>

</div>
</div>
</div>
